<section class="about-area pb-60 pt-100" id="Who">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 mb-40">
                <div class="section-title">
                    <h2>Who's Brian</h2>
                </div>
                <div class="about-content">
                    <p>You know Brian. We all know Brian. Brian knows code. His Javascript prowess is unparalleled, and he’s the one who understands subtle css issues so he can fix funky website problems. Brian can be so awesome! </p>
							<p>But Brian knows jack about Event Sourcing. He knows even less about AggregateRoots, Bounded Contexts, and most of the things that make event sourcing successful. Not knowing doesn’t stop Brian from trying. He thinks winging it will help. (It won’t.) <strong>Brian’s not a bad guy - he’s just bad for business</strong>.</p>
							<p>Don’t let Brian wing it with your budget dollars. <em>You can do better than Brian</em>.</p>
							<p><strong>You need a team with all of Brian’s lost potential</strong>. While Brian’s curiosity ends with code, our team's curiosity never ends. We’re Event Sourcing experts who know about all the things Brian doesn’t, like what strategies go into DDD (domain driven design) and the art of read models. We do <strong>way more</strong> than fix backend code and troubleshoot website problems. </p>
							<p>It’s time to take your archtiecture to the next level. <strong>You deserve better than Brian</strong>!</p>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 mb-20 md-margin">
                <div class="row">
                    <div class="col-xl-12 col-md-12 mb-20">
                        <div class="about-img">
                            <img src="{{site.baseurl}}/assets/img/about/event-sourcing-consulting.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>