<section class="testimonial-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="testimonial-active owl-carousel">
                    <div class="single-item testimonial-items text-center">
                        <div class="client-text">
                            It is a long established fact that when it comes to web stuff, Brian's always drop the ball. I wish that I had used Better Than Brian when I was working on Pet Sounds. God only knows how it would have turned out..
                        </div>
                        <img src="{{site.baseurl}}/assets/img/testimonial/brian_wilson.jpg" class="img-fluid" alt="">
                        <h4>Brian Wilson</h4>
                        <span>Beach Boys</span>
                    </div>
                    <div class="single-item testimonial-items text-center">
                        <div class="client-text">
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here.
                        </div>
                        <img src="{{site.baseurl}}/assets/img/testimonial/02.jpg" class="img-fluid" alt="">
                        <h4>Ollie Schneider</h4>
                        <span>C.E.O</span>
                    </div>
                    <div class="single-item testimonial-items text-center">
                        <div class="client-text">
                            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here.
                        </div>
                        <img src="{{site.baseurl}}/assets/img/testimonial/03.jpg" class="img-fluid" alt="">
                        <h4>Jackson Nash</h4>
                        <span>Chairman</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>