<section class="about-area grey-bg pb-60 pt-100" id="Why">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 mb-20 md-margin">
                <div class="row">
                    <div class="col-xl-12 col-md-12 mb-20">
                        <div class="about-img">
                            <img src="{{site.baseurl}}/assets/img/about/event-sourcing-developer.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 mb-40">
                <div class="section-title">
                    <h2>Why Better Than Brian?</h2>
                </div>
                <div class="about-content">
                    <p>Let our experience with web development give your team a shortcut in their learning curve. Experience has taught us what we can and cannot achieve and how to overcome inevitable pitfalls. Our team can help you navigate the labyrinth of choices needed for design, brand identity, and content. We'll provide the simplest, most cost-effective solution for you and your team. </p>
                    <p>Our team will help you identify your goals and map out a plan of action to achieve them. Together, we’ll define what needs to be automated and map out how we'll do it. </p>
                    <p>Choose the team who are consistently <a href="https://betterthanbrian.com">Better Than Brian</a>. This will give your team a huge headstart over the competition. Get a leg up! </p>
                </div>
            </div>
        </div>
    </div>
</section>