<section class="about-area grey-bg pb-60 pt-100" id="Why">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 mb-20 md-margin">
                <div class="row">
                    <div class="col-xl-12 col-md-12 mb-20">
                        <div class="about-img">
                            <img src="{{site.baseurl}}/assets/img/about/event-sourcing-developer.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 mb-40">
                <div class="section-title">
                    <h2>Why Better Than Brian?</h2>
                </div>
                <div class="about-content">
                    <p><b>We’re Not a Gigantic Agency (And That’s a Good Thing).</b> <br> No endless forms. No “account managers” who ghost you. Just a small team of designers, developers, and marketing nerds who actually care about your project. </p>
                    <p>Navigating the digital landscape shouldn't feel like decoding Brian's last "project." With our expertise, you'll avoid common pitfalls and make informed decisions. We simplify the complex, offering clear strategies and effective solutions tailored to your goals.</p>
                    <p>Our team will help you identify your goals and map out a plan of action to achieve them. Together, we’ll define what needs to be automated and map out how we'll do it. </p>
                </div>
            </div>
        </div>
    </div>
</section>