---
layout: default
---
{% include header.html %}
<main>

<!-- blog-details-area -->
<div class="main-area gray-bg pt-30 pb-40">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="mb-60">
                    <div class="sm-size">
                        <h2>{{page.title}}</h2>
                    </div>
                    <div class="thumb">
                        <img src="{{page.post_image}}" alt="{{page.title}}"/>
                    </div>
                    <div class="content pt-100">
                       {{content}} 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</main>