---
layout: default
---
{% include header.html %}
<main>
<!-- blog-details-area -->
<div class="basic-blog-area gray-bg pt-30 pb-40">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 blog-post-items">
                <div class="blog-wrapper mb-60">
                    <div class="sm-size">
                        <h2>{{page.title}}</h2>
                    </div>
                    <div class="blog-thumb">
                        <img src="{{page.post_image}}" alt="{{page.title}}"/>
                    </div>
                    <div class="blog-content">
                       {{content}} 
                        <div class="row mt-30">
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <!-- Look the author details up from the site config. -->
                                {% for author in site.authors %}
                                    {% if page.authors contains author.username or author.username == page.authors %}
                                        <a href="{{ site.url }}{{ site.baseurl }}/author/{{ author.username }}">{{ author.name }}</a>
                                    {% endif %}
                                {% endfor %}
                                <!-- 
                                    // NOT RENDERING RIGHT IN PROD
                                    <div class="blog-post-tag">
                                
                                 {{page | tags | capitalize}}
                                </div> -->
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6">
                               {% include social_share.html %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 sidebar-blog right-side">
              {% include sidebar.html %}
            </div>
        </div>
    </div>
</div>
</main>